{% extends 'base_file.html' %}

{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row content ">
    <div class="col-sm-3 sidenav" >
      <!--<h2>Logo</h2>-->
      <ul class="nav nav-pills nav-stacked">
        {% if phone %}
        <li class="active"><a href={%url 'rdv' "phone" %} class="text-success">Téléphonique</a></li>
        {% else%}
        <li class=""><a href={%url 'rdv' "phone" %} class="text-success">Téléphonique</a></li>
        {% endif%}

        {% if sur_place %}
        <li class="active"><a href={%url 'rdv' "sur_place" %} class="text-success">Sur place</a></li>
        {% else%}
        <li class=""><a href={%url 'rdv' "sur_place" %} class="text-success"> Sur place</a></li>
        {% endif%}
      </ul><br>
    </div>
    <div class=" col-sm-3 container">

        {% if phone%}
          {% include "rdv_templates/phone.html" %}
      {% elif sur_place %}
                {% include "rdv_templates/sur_place.html" %}
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}