     <div class="container">
        <h3>Veuillez choisir un créneau</h3>
            {% for i in rdvs %}
            <p> {{i.day_name}} {{ i.day}} </p>
            {% for j in i.hours%}

         <a href="{% url 'rdv_fix' j.id %}"><button type="button" class="btn btn-success">{{j.hour}}</button></a>


         {% endfor %}
         <br><br>
            {% endfor %}
    </div>

<!--{% for i in rdvs %}-->
     <!--<p> {{i.day}}</p>-->
     <!--{% for j in i.hours%}-->
     <!--<p>{{j}}</p>-->
     <!--{% endfor %}-->
     <!--{% endfor %}-->