<div class="container">

    <div class="col-sm-8">
        <h2>Languages de programmation</h2>
            <h2> <span class="label label-success" style="border: 5px solid black;">Python</span>


            <span class="label label-success" style="border: 3px solid black;">Java</span>
          <span class="label label-success" style="border: 3px solid black;">C++</span>
          <span class="label label-success" style="border: 3px solid black;">Javascript</span>
          <span class="label label-success" style="border: 3px solid black;">PHP</span>
            <span class="label label-success" style="border: 3px solid black;">VBA</span></h2>

    </div>

    <div class="col-sm-8">
        <h2>Systéme d'information géographique</h2>
            <h2> <span class="label label-primary" style="border: 3px solid black;">ArcGIS/ArcPy</span>
                 <span class="label label-primary" style="border: 5px solid black;">QGIS/PyQGIS</span>
            <span class="label label-primary" style="border: 3px solid black;">Mapinfo/MapBasic</span>
          <span class="label label-primary" style="border: 5px solid black;">PostgreSQL/PostGIS</span>
                <span class="label label-primary" style="border: 3px solid black;">FME</span>
          <span class="label label-primary" style="border: 3px solid black;">AutoCAD</span>
            <span class="label label-primary" style="border: 3px solid black;">Oracle</span></h2>

    </div>

    <div class="col-sm-8">
        <h2>WEB</h2>
            <h2>
          <span class="label label-warning" style="border: 5px solid black;">Python/Djnago</span>
                <span class="label label-warning" style="border: 3px solid black;">Java/JEE</span>
                <span class="label label-warning" style="border: 3px solid black;">Html/Css/Boootstrap</span>
                <span class="label label-warning" style="border: 3px solid black;">Javascript/Jquery/AngularJS</span>
          </h2>

    </div>


    </div>
