{% load static %}

<div class="container">
  <div class="row">


        <div class="col-sm-8" style="border: 3px solid black; background-color: #b3c6ff; margin-top:10px; margin-left:15px; margin-right:15px;">
            <h2><img src="{% static 'agh.png' %}" alt="..." style="width:60px;height:45px;">  Dévéloppeur Python SIG <img src="{% static 'sogetrel.jpeg' %}" alt="..." style="width:60px;height:45px;"></h2>
            <p>Au sein de la direction des systèmes d’information de SOGETREL je suis en charge du développement SIG :<br/><br/>

            - Conception, développement et maintenance des applications SIG (Python)<br/>
            - Développement des applications FTTH pour les Bureaux d'études de SOGETREL (Python)<br/>
            - Développement des Plugins QGIS (Python)<br/>
            - Développement des tests unitaires (Python/unittest)<br/>
            - Administration des bases de données géographiques. (PgAdmin/SQL/Postgres/PostGIS/PLpgSQL)<br/>
            - Développement d'une application web Python/Django pour la gestion et le paramétrage des bases de données des études FTTH.<br/>
            - Développement des web services (Python/Django/Rest)<br/><br/>

            Outils :<br/>
            - Python / PyQt<br/>
            #Clean code #Maintainable code #Design patterns #MVC #KISS(principe) #TDD #CI<br/>

            - Python / Django (web)<br/>

            - QGIS / PyQGIS<br/>

            - PostgreSQL / PostGIS / PLpgSQL<br/>

            - VSTS / GIT / Méthodes Agiles<br/></p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>



    </div>
    <div class="col-sm">
       <div class="col-sm-8" style="border: 3px solid black; background-color: #ffa866; margin-top:10px; margin-left:15px; margin-right:15px;">
            <h3><img src="{% static 'orange.png' %}" alt="..." style="width:45px;height:45px;">  Stage de fin d'étude : Développeur système d'information géographique ( SIG )</h3>
         <p>- développement d'une Application d’aide à la décision pour le déploiement du réseau mobile dans les pays du moyen orient et Afrique ( Python : GDAL/Fiona/Shapely/Pandas/Folium... )<br/>
- Automatisation des géotraitements (Psycopg2/PostGIS)<br/>
- Administration des bases de données géographiques ( QGIS - PostgreSQL&PostGIS/PgAdmin)<br/>
- Géocodage et gestion des données géographiques<br/>
- réalisation d'interfaces graphiques (PyQT) Voir moins</p>
    </div>
          <div class="col-sm-8" style="border: 3px solid black; background-color: #ffa866; margin-top:10px; margin-left:15px; margin-right:15px;">
            <h3><img src="{% static 'orange.png' %}" alt="..." style="width:45px;height:45px;">  Stagiaire assistant de projet géomarketing</h3>
            <p>
- Automatisation des géotraitements de création des bases de données géographiques.<br/>
- Optimisation des temps des traitements.<br/>
- intégration continue des modules développés dans le logiciel de Géomarketing « REACH » utilisé par Orange et ses filiales de la zone MEA (Middle-East-Africa)</p>
    </div>
        <div class="col-sm-8" style="border: 3px solid black; background-color: #79d279; margin-top:10px; margin-left:15px; margin-right:15px;">
            <h3><img src="{% static 'ign.png' %}" alt="..." style="width:45px;height:45px;">  Stagiaire géomètre-topographe</h3>
      <p>- Représentation 2D du complexe sportif de Forcalquier (topométrie)<br/>
- Rattachement de points à un réseau géodésique local (géodésie)<br/>
- Modélisation 3D de l'église de Sigonce (Photogrammétrie)<br/>
- Auscultation du pont roman de Mane (Métrologie)<br/>
- Stéréopréparation</p>
    </div>
  </div>
</div>

</div>